* {
    box-sizing: border-box;
  }
  body {
      font-size: 16px;
      margin: 0;
      padding: 0;
  }
  h1, h2 {
      font-weight: 700;
      margin: 15px;
      padding: 0;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h3 {
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 10px;
      padding: 0;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  div {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* Style the grassFooter (Our case it's the grass that disappears) */
  .grassFooter {
      position: fixed;
      bottom: 0px;
      width: 100%;
      height: 15vw;
      background: url(Grass.png) no-repeat;
      opacity: 1.0;
      padding: 0px;
      text-align: center;
      pointer-events: none;
  }

  /* Style the top navigation bar */
  .navbar {
      overflow: hidden;
      background-color: #bca89f;
  }
  /* Define grid for how many boxes are in the navbar */
  .NavbarRow {
      display: grid;
      grid-template-columns: repeat(3,minmax(33vw, 1fr));
  }
  /* Style the navbar boxes */
  .NavbarColumn {
      float: left;
      padding: 15px;
  }
  /* Style the navbar links */
  .navbar a {
      resize: both;
      float: left;
      display: block;
      color: #F2F2F2;
      text-align: center;
      padding: 5px;
      margin: 7px;
      text-decoration: none;
      text-shadow: 2px 2px 1px gray;
      font-family: Georgia, 'Times New Roman', Times, serif;		  
  }
  /* Change on hover */
  .navbar a:hover {
      border: 3px solid #F2F2F2;
      border-radius: 20px;
      padding: 1px;
  }
  
  /* Define the Main Grid (Consists of Live Feed and Control Panel) */
  .MainGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 0px;
  }
  /* Style the Main Grid Columns */
  .MainColumn {
      padding: 15px;
      padding-bottom: 25vw;
  }
  /* Define the Secondary Grid */
  .SecondaryGrid {
      grid-column-start: 1;
      grid-column-end: 3;
      float: left;
      padding: 25px;
  }
  /* Style the lines under the titles */
  .SecondaryGrid hr {
      margin: auto; 
      margin-bottom: 20px; 
      margin-top: -10px;
  }		
  /* Define the Group Members row */
  .GroupMembersRow {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
      padding-top: 3vw;
      padding-bottom: 10vw;
      padding-left: 15vw;
      padding-right: 15vw;
  }
  /* Define and style the individual Group Members columns */
  .GroupMembersColumn {
      margin: auto;
  }
  /* Define and style the individual Group Members images */
  .GroupMembersImage {
      position: relative;
      height: 12vw;
      width: 12vw;
      border-radius: 50%;
      transition: 0.3s ease-in-out;
        backface-visibility: hidden;
  }
  /* Make images lower opacity when hovered */
  .GroupMembersImage:hover {
      opacity: 0.3;
      transform:scale(1.07);
  }
  /* Make overlay appear when image is hovered */
  .GroupMembersImageOverlay:hover {
      opacity: 1;
  }

  /* Define the Special Thanks row */
  .SpecialThanksRow {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
      padding-top: 1.5vw;
      padding-bottom: 10vw;
      padding-left: 15vw;
      padding-right: 15vw;
  }
  /* Define the Special Thanks Column */
  .SpecialThanksColumn {
      margin: auto;
  }
  .SpecialThanksImage {
      position: relative;
      height: 6vw;
      width: 6vw;
      border-radius: 50%;
      transition: 0.3s ease-in-out;
        backface-visibility: hidden;
  }

  /* Define a ControlPanel subgrid within the ControlPanel Column */
  .ControlPanelGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  /* Define the textbox 'terminalbox' */
  .terminalbox {
      font-family: "Lucida Console", "Courier New", monospace;
      background-color: #000000;
      color: #FFF;
      width: 30vw;
      height: 26vw;
      resize: none;
      margin-bottom: 5px;
  }
  /* Don't change pointer when hovering over read only text box */
  .terminalbox:hover {
      cursor: default;
  }
  /* Define the another textbox 'terminalboxtitle' to act as the title box */
  .terminalboxtitle {
      font-family: monospace;
      background-color: gray;
      color: #FFF;
      width: 30vw;
      height: 1vw;
      resize: none;
      overflow: hidden;
      margin-top: 19px;
      margin-bottom: -5px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  /* Don't change pointer when hovering over read only text box */
  .terminalboxtitle:hover {
      cursor: default;
  }
  /* Define and style the data table */
  .datatable {
      grid-template-columns: 1fr;
      margin-top: 16px;
      margin-bottom: 9px;
  }
  .datatableRow {
      text-align: left;
      margin-left: 3px;
      margin-bottom: 5px;
  }
  
  /* Define the iframe containter for the Youtube Embedded Stream */
  .iframe-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  /* Define the iframe containter for the Youtube Embedded Demo Video */
  .demoiframe-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 40%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  /* Style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 95%;
      height: 100%;
  }